<% include includes/header %>

<div class="container">
    <div class="row">
        <div class="span2">
            <% include includes/lefter %>
        </div>
        <div class="span10" id="content">
            <% if (locals.error != '') { %>
            <div class="alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong><%= locals.error %></strong>
            </div>
            <% } %>
            <% if (locals.success != '') { %>
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong><%= locals.success %></strong>
            </div>
            <% } %>
            <div class="topmenu">
                <form method="post" action="/admin/addclassify" style="margin: 0 0;">
                <div class="manbtn">
                    <button id="addacname" type="submit" class="btn btn-success"><i class="icon-plus icon-white"></i> 添 加</button>
                </div>
                <div class="manbtn">
                    <input id="acname" class="span2" type="text" name="acname" placeholder="分类名">
                </div>
                </form>
                文章分类
            </div>
            <table class="table table-bordered table-striped table-hover">
                <colgroup>
                    <col class="span1">
                    <col class="span6">
                    <col class="span1">
                </colgroup>
                <thead>
                <tr>
                    <th>编 号</th>
                    <th>分类名称</th>
                    <th>操 作</th>
                </tr>
                </thead>
                <tbody>
                <!--
                    1、EJS的循环分为两种 一种是 数组.forEach(function(item){获得});暂时没有找到获得下标值的方法
                    2、普通的for循环可以获得下标值
                <% acs.forEach(function(ac){ %>
                <tr>
                    <td>
                        <%= ac._id %>
                    </td>
                    <td>
                        <%= ac.acname %>
                    </td>
                    <td>dd</td>
                </tr>
                <% }) %>
                -->
                <% if( acs.length ) { %>
                    <% for(var i = 0; i < acs.length; i++) { %>
                    <tr>
                        <td>
                            <%= acs[i].id %>
                        </td>
                        <td>
                            <%= acs[i].acname %>
                        </td>
                        <td>
                            <a class="btn btn-link" style="padding: 0;" onclick="updateAclassify('<%= acs[i]._id %>','<%= acs[i].acname %>')">修改</a>
                            &nbsp;
                            <a class="btn btn-link" onclick="$.myblog.confirmation('/admin/delclassify?id=<%= acs[i]._id %>')" style="padding: 0;">删除</a>
                        </td>
                    </tr>
                    <% } %>
                <% } else { %>
                    <tr>
                        <td colspan="3" style="text-align: center;">
                            还没有分类数据！
                        </td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    function updateAclassify(_id,acname){
        if(!$("#updateclassify").length > 0){
            var alertHTML = $("<div id='updateclassify' class='modal hide fade' tabindex='-1' role='dialog' aria-labelledby='classifyLabel' aria-hidden='true'>" +
                    "<div class='modal-header'>" +
                    "<button type='button' class='close' data-dismiss='modal' aria-hidden='true'>×</button>" +
                    "<h3 id='classifyLabel'>修改</h3> " +
                    "</div>" +
                    "<div class='modal-body'>" +
                    "<form id='uclassifyForm' action='/admin/updateclassify' method='post'>" +
                    "<input type='hidden' name='_id' id='_id'>" +
                    "分类名称：<input type='text' name='acname' id='uacname'>" +
                    "</form>" +
                    "</div>" +
                    "<div class='modal-footer'>" +
                    "<button class='btn btn-primary' id='confirm' data-dismiss='modal' aria-hidden='true'>确定</button>" +
                    "<button class='btn' data-dismiss='modal' aria-hidden='true'>取消</button>" +
                    "</div>" +
                    "</div>");
            $('body').append(alertHTML);
            $('#confirm').on('click',function(){
                $("#uclassifyForm").submit();
            });
        }
        $("#_id").val(_id);
        $("#uacname").val(acname);
        $("#updateclassify").modal('show');
    }
</script>

<% include includes/footer %>