<% include includes/header %>

<div class="container">
    <div class="row">
        <div class="span2">
            <% include includes/lefter %>
        </div>
        <div class="span10" id="content">
            <% include includes/error_alert %>
            <% include includes/success_alert %>
            <div class="topmenu">
                <form method="post" action="/admin/addlabel" style="margin: 0 0;">
                    <div class="manbtn">
                        <button id="addalname" type="submit" class="btn btn-success"><i class="icon-plus icon-white"></i> 添 加</button>
                    </div>
                    <div class="manbtn">
                        <input id="alname" class="span2" type="text" name="alname" placeholder="标签名">
                    </div>
                </form>
                标签管理
            </div>
            <table class="table table-bordered table-striped table-hover">
                <colgroup>
                    <col class="span1">
                    <col class="span6">
                    <col class="span1">
                </colgroup>
                <thead>
                <tr>
                    <th>编 号</th>
                    <th>标签名称</th>
                    <th>操 作</th>
                </tr>
                </thead>
                <tbody>
                <% if( als.length ) { %>
                    <% for(var i = 0; i < als.length; i++) { %>
                    <tr>
                        <td>
                            <%= als[i].id %>
                        </td>
                        <td>
                            <%= als[i].alname %>
                        </td>
                        <td>
                            <a class="btn btn-link" style="padding: 0;" onclick="updateLabel('<%= als[i]._id %>','<%= als[i].alname %>')">修改</a>
                            &nbsp;
                            <a class="btn btn-link" onclick="$.myblog.confirmation('/admin/dellabel?id=<%= als[i]._id %>')" style="padding: 0;">删除</a>
                        </td>
                    </tr>
                    <% } %>
                <% } else { %>
                    <tr>
                        <td colspan="3" style="text-align: center;">
                            还没有分类数据！
                        </td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    function updateLabel(_id,alname){
        $.myblog.updateInfo({id:_id,updateName:alname,action:'/admin/updatelabel',label:'标签名称'});
//        if(!$("#updatelabel").length > 0){
//            var alertHTML = $("<div id='updatelabel' class='modal hide fade' tabindex='-1' role='dialog' aria-labelledby='labelLabel' aria-hidden='true'>" +
//                    "<div class='modal-header'>" +
//                    "<button type='button' class='close' data-dismiss='modal' aria-hidden='true'>×</button>" +
//                    "<h3 id='labelLabel'>修改</h3> " +
//                    "</div>" +
//                    "<div class='modal-body'>" +
//                    "<form id='ulabelForm' action='/admin/updatelabel' method='post'>" +
//                    "<input type='hidden' name='_id' id='_id'>" +
//                    "标签名称：<input type='text' name='alname' id='ualname'>" +
//                    "</form>" +
//                    "</div>" +
//                    "<div class='modal-footer'>" +
//                    "<button class='btn btn-primary' id='confirm' data-dismiss='modal' aria-hidden='true'>确定</button>" +
//                    "<button class='btn' data-dismiss='modal' aria-hidden='true'>取消</button>" +
//                    "</div>" +
//                    "</div>");
//            $('body').append(alertHTML);
//            $('#confirm').on('click',function(){
//                $("#ulabelForm").submit();
//            });
//        }
//        $("#_id").val(_id);
//        $("#ualname").val(alname);
//        $("#updatelabel").modal('show');
    }
</script>

<% include includes/footer %>